APP_PORT=5000
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""
JWT_SECRET="#HireNow"
ACCESS_TOKEN_SECRET="#HireNow_AccessToken"
REFRESH_TOKEN_SECRET="#HireNow_RefreshToken"

CLIENT= "http://localhost:3000"
RECRUITER="http://localhost:5173"

MONGO_URI="mongodb://localhost:27017"

APIKEY_FB=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
APIKEY_GH=""
APYKEY_LI=""